[submodule "fmtlib"]
	path = 3rd/fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "3rd/xmake"]
	path = 3rd/xmake
	url = https://github.com/xmake-io/xmake
[submodule "3rd/xmake-docs"]
	path = 3rd/xmake-docs
	url = https://github.com/xmake-io/xmake-docs
